[submodule "deps/limine-binary"]
	path = deps/limine-binary
	url = https://github.com/limine-bootloader/limine.git
	branch = v9.x-binary
[submodule "pooskern/deps/freestnd-c-hdrs-0bsd"]
	path = pooskern/deps/freestnd-c-hdrs-0bsd
	url = https://codeberg.org/osdev/freestnd-c-hdrs-0bsd.git
[submodule "pooskern/deps/flanterm"]
	path = pooskern/deps/flanterm
	url = https://codeberg.org/mintsuki/flanterm
